        *.Bold
        {
	  		font-weight: Bold;
	  	}
	  	*.Italic
        {
	  		font-style: Italic;
	  	}
	  	*.Underline
        {
	  		text-decoration: underline;
	  	}

	  	*.center
	  	{
	  		text-align: center;
	  	}
	  	*.sum
	  	{
	  		font-weight: Bold;
	  		text-decoration: none;
	  	}
	  	*.avg
	  	{
	  		font-weight: Bold;
	  		text-decoration: none;
	  	}
	  	*.left
	  	{
	  		text-align: left;
	  	}
	  	*.right
	  	{
	  		text-align: right;
	  	}
	  	*.top
	  	{
	  		vertical-align: top;
	  	}
	  	*.bottom
	  	{
	  		vertical-align: bottom;
	  	}
	  	*.errors
        {
	  		color: #FF3333;
	  		text-decoration: none;
	  		/* text-align: center; */
	  		font-size: 14px;
            font-style: italic;
	  		font-weight: Bold;
	  	}
	  	*.error
        {
	  		color: red;
	  		text-decoration: none;
	  		text-align: center;
	  		font-size: 14px;
            font-style: italic;
	  		font-weight: Bold;
	  	}
	  	*.warning
        {
	  		color: blue;
	  		text-decoration: none;
	  		font-size: 14px;
	  		text-align: center;
            font-style: italic;
	  		font-weight: Bold;
        }
	  	*.info
        {
	  		color: blue;
	  		text-decoration: none;
	  		font-size: 10px;
	  		text-align: center;
            font-style: italic;
        }
	  	*.success
        {
	  		color: green;
	  		text-decoration: none;
	  		font-size: 14px;
            font-style: italic;
	  		font-weight: Bold;
	  	}
