*.Slide
{
	margin-top: 0.2rem;
	margin-bottom: 1rem;

}

*.Title
{
    font-size: 16px;
    text-align: center;
}
*.Name
{
    font-size: 14px;
    text-align: center;
}
*.Contents
{
    color: #777777;
    text-decoration: none;
    font-weight: none;
    text-align: left;
}
